form {
    position: relative;
    top: 100px;
    left: 520px;
    width: 200px;
    border: solid 1px;
    padding: 2px 110px 10px 10px;
}

#message {
    height: 100px;
    width: 300px
}

#submit_button {
    position: relative;
    top: 5px;
    left: 259px;
}

h1{
    font-size:300%;
    border: solid 0px;
    position: absolute;
    left: 40%;

}

#subheader {
    font-size:180%;
    border: solid 0px;
    position: absolute;
    left: 41%;
    top: 20%;
}

textarea{
    resize: none;
}