form {
    width: 200px;
    border: solid 2px;
    border-radius: 10px;
    padding: 2px 110px 10px 10px;
    background-color: rgb( 46 46 46);
    margin: auto;
}

#message {
    height: 100px;
    width: 300px
}

#submit_button {
    position: relative;
    top: 5px;
    left: 259px;
}

h1{
    font-size:300%;
    text-align: center;
}

#subheader {
    position: relative;
    top: 10px;
    font-size:180%;
    border: solid 0px;
    text-align: center;
}

textarea{
    resize: none;
}

input, textarea {
    background-color:rgb( 46 46 46);
    color: white
}