.post{
    display: flex;
    margin-bottom: 25px;
    background-color: #FFFFFF;
    flex-direction: column;
    padding-top: 15px;
}
.post_text{
    line-height: 27px;
    letter-spacing: 0.5px;
    text-indent: 15px
}
.post_title{
    letter-spacing: 1.5px;
}